<header class="jumbotron">
	<h1 class="text-center">
		Cadastrar fotos
	</h1>
</header>

<section class="container">
	<div class="row" *ngIf="mensagem.texto">
		<div class="col-md-12">
			<app-mensagem [tipo]="mensagem.tipo" [texto]="mensagem.texto"></app-mensagem>
		</div>
	</div>

	<div class="row">
		<form #formCadastro="ngForm" class="col-md-7" (ngSubmit)="cadastrar(foto)">
			<div class="form-group">
				<label>Título</label>

				<input type="text" class="form-control" name="titulo" [(ngModel)]="foto.titulo" #inputTitulo="ngModel" required>
				<app-mensagem *ngIf="inputTitulo.invalid && inputTitulo.touched" texto="Titulo obrigatório" tipo="warning"></app-mensagem>
			</div>

			<div class="form-group">
				<label>URL</label>

				<input type="url" class="form-control" name="url" [(ngModel)]="foto.url"
				#inputURL="ngModel" required>
				<app-mensagem *ngIf="inputURL.invalid && inputURL.touched" texto="URL obrigatória" tipo="warning"></app-mensagem>
			</div>

			<div class="form-group">
				<label>Descrição</label>
				<textarea type="text" class="form-control" name="descricao" [(ngModel)]="foto.descricao"></textarea>
			</div>

			<a routerLink="" class="btn btn-secondary">Voltar</a>
			<button [disabled]="formCadastro.invalid" class="btn btn-primary">Cadastrar</button>
		</form>

		<aside class="col-md-5">
			<painel titulo={{foto.titulo}} *ngIf="foto.url">
				<foto data-foto url={{foto.url}}></foto>
			</painel>
		</aside>
	</div>
</section>